### IMPORT LIBRARY

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### IMPORT DATASET

In [9]:
df_train = pd.read_csv(r"C:\Users\Keyur Chaudhari\Downloads\train_brain.csv")
df_test = pd.read_csv(r"C:\Users\Keyur Chaudhari\Downloads\test_brain.csv")

In [10]:
df_train.head()

,1,2,3,4,5,6,7,8,9,10,...,93,94,95,96,97,98,99,100,101,target
0,1.250042,19.145029,C,9.584353,34.984717,7.027265,6.689411,36.111964,4.899921,23.910874,...,7.525531,13.317211,26.600325,L,5.774739,3.040639,0,11.309413,0.995232,1
1,2.970214,27.764929,C,20.236078,38.657649,10.392102,11.340814,47.482511,5.879906,24.805936,...,9.533020,4.681385,44.953855,CG,5.930394,8.292149,0,2.363188,6.675311,1
2,3.135308,32.574846,C,10.915899,32.318764,6.779047,7.626425,35.991821,3.919938,24.728131,...,6.145599,12.953741,28.016364,BU,6.049601,10.440941,0,9.620541,2.573866,0
3,4.277058,47.738345,C,16.489040,39.429322,6.935775,10.205494,38.813908,5.798239,26.308526,...,9.026123,7.586292,29.856851,AN,5.166861,13.376133,1,4.444706,5.679290,1
4,4.473978,16.115129,NaN,10.403431,38.915410,7.852578,6.757196,23.161443,5.879904,23.663073,...,8.286800,9.337974,17.419744,B,6.444625,6.748303,0,8.737056,4.564449,0

In [11]:
df_test.head()

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,101
0,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,2.858289,22.872606,...,41.899637,NaN,NaN,NaN,BY,NaN,NaN,0,NaN,NaN
1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,8.738194,26.296159,...,55.246190,NaN,NaN,NaN,AL,NaN,NaN,5,NaN,NaN
2,4.822627,62.035349,C,17.221968,34.359474,6.256383,14.685122,29.071144,2.858290,23.710044,...,52.866471,11.035802,8.069421,26.714029,Z,8.496149,10.101453,0,2.650018,7.464216
3,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,4.899923,24.748312,...,53.895298,NaN,NaN,NaN,K,NaN,NaN,0,NaN,NaN
4,1.180241,38.502306,C,15.416981,50.397244,8.867742,7.623702,38.487347,6.778222,25.997673,...,57.223004,5.746962,4.834523,34.599740,AF,4.574367,8.851788,0,3.435413,2.714263

### EXPLORE DATA

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60590 entries, 0 to 60589
Columns: 102 entries, 1 to target
dtypes: float64(80), int64(5), object(17)
memory usage: 47.2+ MB

In [13]:
df_train.shape

(60590, 102)

In [14]:
df_test.shape

(53731, 101)

In [15]:
df_train.dtypes.values

array([dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('int64'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('int64'), dtype('float64'), dtype('float64'), dtype('int64')],
      dtype=object)

### CLEANING DATA

In [16]:
df_train.shape

(60590, 102)

In [17]:
df_train.isnull().sum()

1         26328
2         26308
3          1892
4         26308
5         25693
          ...
98        26328
99            0
100       26329
101       26364
target        0
Length: 102, dtype: int64

In [18]:
df_train['3'] = df_train['3'].astype(str)
df_train['18'] = df_train['18'].astype(str)
df_train['19'] = df_train['19'].astype(str)
df_train['24'] = df_train['24'].astype(str)
df_train['38'] = df_train['38'].astype(str)
df_train['43'] = df_train['43'].astype(str)
df_train['45'] = df_train['45'].astype(str)
df_train['57'] = df_train['57'].astype(str)
df_train['53'] = df_train['53'].astype(str)
df_train['60'] = df_train['60'].astype(str)
df_train['61'] = df_train['61'].astype(str)
df_train['65'] = df_train['65'].astype(str)
df_train['73'] = df_train['73'].astype(str)
df_train['87'] = df_train['87'].astype(str)
df_train['89'] = df_train['89'].astype(str)
df_train['91'] = df_train['91'].astype(str)
df_train['96'] = df_train['96'].astype(str)

In [19]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
df_train['3']=labelencoder_y.fit_transform(df_train['3'].values)
df_train['18']=labelencoder_y.fit_transform(df_train['18'].values)
df_train['19']=labelencoder_y.fit_transform(df_train['29'].values)
df_train['24']=labelencoder_y.fit_transform(df_train['24'].values)
df_train['38']=labelencoder_y.fit_transform(df_train['38'].values)
df_train['43']=labelencoder_y.fit_transform(df_train['43'].values)
df_train['45']=labelencoder_y.fit_transform(df_train['45'].values)
df_train['53']=labelencoder_y.fit_transform(df_train['53'].values)
df_train['57']=labelencoder_y.fit_transform(df_train['57'].values)
df_train['60']=labelencoder_y.fit_transform(df_train['60'].values)
df_train['61']=labelencoder_y.fit_transform(df_train['61'].values)
df_train['65']=labelencoder_y.fit_transform(df_train['65'].values)
df_train['73']=labelencoder_y.fit_transform(df_train['73'].values)
df_train['87']=labelencoder_y.fit_transform(df_train['87'].values)
df_train['89']=labelencoder_y.fit_transform(df_train['89'].values)
df_train['91']=labelencoder_y.fit_transform(df_train['91'].values)
df_train['96']=labelencoder_y.fit_transform(df_train['96'].values)

In [20]:
df_train

,1,2,3,4,5,6,7,8,9,10,...,93,94,95,96,97,98,99,100,101,target
0,1.250042,19.145029,2,9.584353,34.984717,7.027265,6.689411,36.111964,4.899921,23.910874,...,7.525531,13.317211,26.600325,75,5.774739,3.040639,0,11.309413,0.995232,1
1,2.970214,27.764929,2,20.236078,38.657649,10.392102,11.340814,47.482511,5.879906,24.805936,...,9.533020,4.681385,44.953855,61,5.930394,8.292149,0,2.363188,6.675311,1
2,3.135308,32.574846,2,10.915899,32.318764,6.779047,7.626425,35.991821,3.919938,24.728131,...,6.145599,12.953741,28.016364,48,6.049601,10.440941,0,9.620541,2.573866,0
3,4.277058,47.738345,2,16.489040,39.429322,6.935775,10.205494,38.813908,5.798239,26.308526,...,9.026123,7.586292,29.856851,14,5.166861,13.376133,1,4.444706,5.679290,1
4,4.473978,16.115129,3,10.403431,38.915410,7.852578,6.757196,23.161443,5.879904,23.663073,...,8.286800,9.337974,17.419744,27,6.444625,6.748303,0,8.737056,4.564449,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60585,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,2.939955,22.771000,...,NaN,NaN,NaN,72,NaN,NaN,0,NaN,NaN,0
60586,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,4.164932,22.793768,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0
60587,2.017844,28.152826,2,13.681214,28.386099,6.907944,8.725818,44.182790,0.979982,22.533592,...,6.874930,8.327845,37.823145,49,5.529831,20.791995,0,4.727334,2.946400,0
60588,5.260496,32.190335,2,15.239673,25.876272,8.205556,10.216324,42.492059,4.899918,22.773930,...,9.694508,11.686105,29.227343,3,5.361933,21.440572,0,6.202865,4.999955,1
60589,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,4.899919,22.911856,...,NaN,NaN,NaN,15,NaN,NaN,0,NaN,NaN,1

In [21]:
df_test.head(2)

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,101
0,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,2.858289,22.872606,...,41.899637,NaN,NaN,NaN,BY,NaN,NaN,0,NaN,NaN
1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,8.738194,26.296159,...,55.246190,NaN,NaN,NaN,AL,NaN,NaN,5,NaN,NaN

In [22]:
df_test.isna().sum()

1      23504
2      23488
3       1565
4      23488
5      22931
       ...
97     23504
98     23504
99         0
100    23514
101    23531
Length: 101, dtype: int64

In [23]:
df_test['3'] = df_test['3'].astype(str)
df_test['18'] = df_test['18'].astype(str)
df_test['19'] = df_test['19'].astype(str)
df_test['24'] = df_test['24'].astype(str)
df_test['38'] = df_test['38'].astype(str)
df_test['43'] = df_test['43'].astype(str)
df_test['45'] = df_test['45'].astype(str)
df_test['53'] = df_test['53'].astype(str)
df_test['57'] = df_test['57'].astype(str)
df_test['60'] = df_test['60'].astype(str)
df_test['61'] = df_test['61'].astype(str)
df_test['65'] = df_test['65'].astype(str)
df_test['73'] = df_test['73'].astype(str)
df_test['87'] = df_test['87'].astype(str)
df_test['89'] = df_test['89'].astype(str)
df_test['91'] = df_test['91'].astype(str)
df_test['96'] = df_test['96'].astype(str)

In [24]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
df_test['3']=labelencoder_y.fit_transform(df_test['3'].values)
df_test['18']=labelencoder_y.fit_transform(df_test['18'].values)
df_test['19']=labelencoder_y.fit_transform(df_test['29'].values)
df_test['24']=labelencoder_y.fit_transform(df_test['24'].values)
df_test['38']=labelencoder_y.fit_transform(df_test['38'].values)
df_test['43']=labelencoder_y.fit_transform(df_test['43'].values)
df_test['45']=labelencoder_y.fit_transform(df_test['45'].values)
df_test['53']=labelencoder_y.fit_transform(df_test['53'].values)
df_test['57']=labelencoder_y.fit_transform(df_test['57'].values)
df_test['60']=labelencoder_y.fit_transform(df_test['60'].values)
df_test['61']=labelencoder_y.fit_transform(df_test['61'].values)
df_test['65']=labelencoder_y.fit_transform(df_test['65'].values)
df_test['73']=labelencoder_y.fit_transform(df_test['73'].values)
df_test['87']=labelencoder_y.fit_transform(df_test['87'].values)
df_test['89']=labelencoder_y.fit_transform(df_test['89'].values)
df_test['91']=labelencoder_y.fit_transform(df_test['91'].values)
df_test['96']=labelencoder_y.fit_transform(df_test['96'].values)

In [25]:
df_test.isna().sum()

1      23504
2      23488
3          0
4      23488
5      22931
       ...
97     23504
98     23504
99         0
100    23514
101    23531
Length: 101, dtype: int64

In [26]:
df_test.shape

(53731, 101)

In [27]:
df_train = df_train.fillna(1)

In [28]:
df_test = df_test.fillna(1)

In [29]:
df_train.isna().sum()

1         0
2         0
3         0
4         0
5         0
         ..
98        0
99        0
100       0
101       0
target    0
Length: 102, dtype: int64

In [30]:
df_test.isna().sum()

1      0
2      0
3      0
4      0
5      0
      ..
97     0
98     0
99     0
100    0
101    0
Length: 101, dtype: int64

In [31]:
df_train.dtypes.values

array([dtype('float64'), dtype('float64'), dtype('int32'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int32'), dtype('int64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('int32'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('int32'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int32'),
       dtype('float64'), dtype('int32'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('float64'), dtype('int32'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('int32'), dtype('int64'), dtype('float64'), dtype('int32'),
       dtype('int32'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('int32'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('int32'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('int32'),
       dtype('float64'), dtype('int32'), dtype('float64'), dtype('int32'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('int32'), dtype('float64'),
       dtype('float64'), dtype('int64'), dtype('float64'),
       dtype('float64'), dtype('int64')], dtype=object)

### TRAIN TEST SECTION

In [32]:
X_train = df_train.iloc[:,:-1]
X_test = df_test.iloc[:,:]

In [33]:
y_train = df_train.iloc[:,-1]

In [34]:
y_train

0        1
1        1
2        0
3        1
4        0
        ..
60585    0
60586    0
60587    0
60588    1
60589    1
Name: target, Length: 60590, dtype: int64

### BUILD MODEL

In [35]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
clf1 =  DecisionTreeClassifier()

In [37]:
 clf1.fit(X_train , y_train)

DecisionTreeClassifier()

In [38]:
y_pred=clf1.predict(X_test)

In [39]:
target1 = pd.DataFrame(y_pred )

In [40]:
target1

       0
0      1
1      1
2      0
3      1
4      1
...   ..
53726  1
53727  0
53728  1
53729  1
53730  0

[53731 rows x 1 columns]

In [41]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(clf1 , X_train , y_train , cv=3 , scoring="accuracy")

In [42]:
a.mean()

0.6849479505787907

In [43]:
target1.to_csv('target_preddd.csv', header=False, index=False)

In [44]:
from sklearn.linear_model import LogisticRegression
clf2 = LogisticRegression(tol=0.1 , solver = 'lbfgs')

In [45]:
clf2.fit(X_train , y_train)

C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(tol=0.1)

In [46]:
yo_pred = clf2.predict(X_test)

In [47]:
target2 = pd.DataFrame(yo_pred )

In [48]:
from sklearn.model_selection import cross_val_score
b = cross_val_score(clf2 , X_train , y_train , cv=3 , scoring="accuracy")

C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [49]:
b.mean()

0.76123121252494

In [50]:
from sklearn.model_selection import cross_val_predict
y_test_predict = cross_val_predict(clf2 , X_train , y_train , cv=3 )

C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Keyur Chaudhari\anaconda3\py\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [51]:
y_test_predict

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [52]:
print(y_test_predict)

[1 1 1 ... 1 1 1]

In [362]:
from sklearn.metrics import precision_score , recall_score

In [363]:
 precision_score( y_test_predict , y_train)

0.993105093124607

In [364]:
 recall_score( y_test_predict , y_train)

0.7635614976827927

In [365]:
from sklearn.metrics import f1_score

In [366]:
f1_score(y_train , y_test_predict)

0.8633360664235159

In [367]:
predicted_target = pd.DataFrame(y_test_predict )

In [368]:
predicted_target

       0
0      1
1      1
2      1
3      1
4      1
...   ..
60585  1
60586  1
60587  1
60588  1
60589  1

[60590 rows x 1 columns]

In [369]:
target2.to_csv('target_pred.csv', header=False, index=False)

In [410]:

from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_predd = gnb.predict(X_test)

In [411]:
from sklearn.model_selection import cross_val_score
c = cross_val_score(gnb , X_train , y_train , cv=3 , scoring="accuracy")

In [412]:
c.mean()

0.5880342008453153

In [414]:
targett = pd.DataFrame(y_predd)

In [415]:
targett.to_csv('target_predddd.csv', header=False, index=False)

In [439]:
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 100, criterion="entropy",n_jobs = 1,random_state =1)  
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_jobs=1, random_state=1)

In [440]:
yp_prd = classifier.predict(X_test)

In [441]:
from sklearn.model_selection import cross_val_score
cd = cross_val_score(classifier , X_train , y_train , cv=3 , scoring="accuracy")

In [442]:
cd.mean()

0.7769103514380187

In [446]:
targettt = pd.DataFrame(yp_prd)

In [447]:
targettt.to_csv('target_pd.csv', header=False, index=False)